<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
  <li><a href="index.html">IG Home</a></li>
  <li><a href="toc.html">Table of Contents</a></li>
    <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">ACDC Profile<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
	  <li><a href="overview.html">Overview</a></li>
	  <li><a href="actorsandtransactions.html">Actors and Transactions</a></li>
	  <li><a href="profileoptions.html">Profile Options</a></li>
	  <li><a href="securityconsiderations.html">Security Considerations</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Transactions<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="transactions.html">Transactions Overview</a>
      </li>
      <li>
        <a href="queryartifact.html">[PCC-71] Query Artifact</a>
      </li>
      <li>
        <a href="requestassessment.html">[PCC-72] Request Assessment</a>
      </li>
      <li>
        <a href="reportassessment.html">[PCC-73] Report Assessment</a>
      </li>
    </ul>
  </li>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#" class="dropdown-toggle">Content Profiles<b class="caret">
      </b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="StructureDefinition-ihe-acdc-questionnaire.html">Questionnaire Resource</a>
      </li>
      <li>
        <a href="StructureDefinition-ihe-acdc-questionnaireresponse.html">Questionnaire Response Resource</a>
      </li>
      <li>
        <a href="extension-questionnaire-launchurl.html">Launch URL Extension</a>
      </li>
      <li>
        <a href="extension-ihe-acdc-contained-questionnairereference.html">Contained Questionnaire Extension</a>
      </li>
    </ul>
  </li>

  <li><a href="transactions.html">Transactions</a></li>
  <li><a href="contentprofiles.html">Content Profiles</a></li>
  <li><a href="artifacts.html">Artifact Index</a></li>
</ul>
